Source: udjat-module-dbus
Section: unknown
Priority: optional
Maintainer: Perry Werneck <perry.werneck@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, autoconf, automake, pkg-config, gettext, libdbus-1-dev, libpugixml-dev, libudjat-dev

Package: libudjatdbus
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: libudjatdbus (= ${binary:Version}), libudjatdbus (= 1.0)
Description: Udjat core library.
 D-Bus library for Udjat.

Package: udjat-dbus-module
Architecture: any
Section: libs
Depends: ${misc:Depends}, libudjatdbus (= ${binary:Version})
Description: libudjat development files.
 Udjat D-Bus module

Package: libudjatdbus-dev
Architecture: any
Provides: libudjatdbus-dev (= ${binary:Version})
Section: libdevel
Depends: ${misc:Depends}, pkg-config, libudjatdbus (= ${binary:Version})
Description: libudjat development files.
 Development files for D-Bus udjat library

Package: libudjatdbus-dbg
Architecture: any
Depends: libudjat (= ${binary:Version})
Description: Debugging symbols for libudjat
 This package contains the debugging symbols for libudjatdbus.

